---
import Cardinput from "../layouts/cardinput.astro";
---

<html lang="en">
	<head>
		<meta charset="utf-8" />
		<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
		<meta name="viewport" content="width=device-width" />
		<link rel="icon" type="image/x-icon" href="/assets/alura.png">
		<link rel="stylesheet" href="/css/style.css">
		<meta name="generator" content={Astro.generator} />
		<title>encriptador</title>
	</head>
	<body>
    <div class="logo">
		<img src="../../assets/alura.png" alt="logo alura">
	</div>
	<Cardinput />
</body>
</html>
